<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.IRemoteControlModule</key>
	<string>robobo_remote_control_ios.RemoteControlModule</string>
	<key>3.RemoteControlModuleWS</key>
	<string>robobo_remote_control_ws_ios.RemoteControlModuleWS</string>
</dict>
</plist>
